* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

body {
    background-color: #ececec;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#header-container {
    width: 100%;
    height: fit-content;
    background-color: #3c68a4;
    padding: 40px;
    box-sizing: border-box;
}

#form-title {
    color: #fff;
    font-size: 32px;
    font-weight: 500;
}

#form-subtitle {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
}

#form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#form-container {
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: fit-content;
    max-width: 1000px;
    width: 75%;
    padding: 25px;
    border-radius: 10px;
}

.form-group-container {
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
}

.form-group-title {
    font-size: 20px;
    color: #555;
    font-weight: 500;
    border-bottom: 1px solid #cecece;
    padding-bottom: 5px;
}

#formation-container,
#experience-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-input-box,
.form-input-box-internal {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-input-box-right {
    display: flex;
    justify-content: end;
    margin-top: 30px;
}

.form-input-box-internal {
    border: 1px solid #9b9b9b;
    border-radius: 10px;
    padding: 20px;
    gap: 20px;
}

label {
    font-size: 18px;
    color: #555555;
    font-weight: 400;
}

.radio-label {
    font-size: 17px;
    color: #555555;
    font-weight: 300;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"],
select,
textarea {
    border: 1px solid #9b9b9b;
    border-radius: 5px;
    padding: 4px 7px;
    font-size: 18px;
    font-weight: 300;
    color: #555555;
}

input[type="button"],
input[type="submit"] {
    border: 0px;
    border-radius: 5px;
    padding: 8px 10px;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

#form-input-box-presentation {
    position: relative;
}

#presentation-text-area-char-count {
    color: #9b9b9b;
    font-size: 14px;
    font-weight: 100;
    position: absolute;
    right: 0;
    bottom: -25px;
}

.radio-input-box {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.radio-input-option-box {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.form-input-box-2-column {
    display: flex;
    gap: 10px;
}

.form-input-box-values {
    display: flex;
    gap: 5px;
}

.ability-box {
    background-color: #3c68a4;
    width: fit-content;
    color: #fff;
    border-radius: 5px;
    font-size: 15px;
    padding: 4px 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.fa-xmark {
    display: none;
}

#hidden-abilities {
    display: none;
}

#abilities {
    width: 100%;
}

.pointer {
    cursor: pointer;
}

.ability-box:hover .fa-xmark {
    display: block;
    width: fit-content;
}

.simple-button {
    background-color: #3c68a4;
    width: fit-content;
    cursor: pointer;
}

.confirm-button {
    background-color: #69d887;
}

.group-title {
    font-size: 17px;
    color: #555555;
    font-weight: 500;
}

.hidden-element {
    display: none;
}

#footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    background-color: #3c68a4;
    padding: 20px 40px;
    box-sizing: border-box;
}

#footer-info {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
}

/* RESPONSIVITY */

@media screen and (max-width: 1200px) {
    #form-container {
        width: 85%;
    }
}

@media screen and (max-width: 992px) {
    #form-container {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    body {
        gap: 25px;
    }

    #form-container {
        width: 95%;
        padding: 10px;
    }

    .form-group-container {
        padding: 15px;
        gap: 20px;
    }

    #formation-container,
    #experience-container {
        gap: 10px;
    }

    .form-input-box-right {
        margin-top: 10px;
    }
}

@media screen and (max-width: 576px) {
    body {
        gap: 15px;
    }

    #header-container {
        padding: 20px;
    }

    form {
        gap: 10px;
    }

    #form-title {
        font-size: 22px;
    }

    #form-subtitle {
        font-size: 12px;
    }

    label {
        font-size: 16px;
    }

    input[type="text"],
    input[type="number"],
    input[type="date"],
    input[type="file"],
    input[type="button"],
    input[type="submit"],
    select,
    textarea {
        font-size: 16px;
    }

    .radio-label {
        font-size: 14px;
    }

    .form-group-title {
        font-size: 18px;
    }

    .form-input-box {
        gap: 2px;
    }

    .form-input-box-internal {
        gap: 12px;
    }
}
